.VPDocFooter {
  display: none;
}

.VPContent {
  padding-top: 0px !important;
}

svg[id^="mermaid"] {
  margin: 16px auto;
}

img {
  margin: 16px auto;
}

@media (min-width: 960px) {
  .VPNav.no-sidebar {
    background: transparent !important;
    backdrop-filter:unset !important;
  }

  .title {
    color: var(--vp-c-text-dark-1) !important;
  }

  .VPNav {
    position: absolute !important;
  }
}
